* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --accent-color: #AFB6AE;
    --bg-color50: #ffffff80;
    --bg-color: #FAF7F2;

    --border-color: #737373;

    --font-color1: #333;
    --font-color2: #fff;
    --font-color3: #737373;
    --font-color4: #6D7067;

    --font-size-btn: 2.0rem;
    --font-size-title1: 5.8rem;
    --font-size-title2: 3.6rem;
    --font-size-title3: 3.2rem;
}

html {
    font-size: 10px;
    font-family:
        "Helvetica Neue",
        "Arial",
        'Noto Sans JP'
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans"
        "Meiryo",
        "sans-serif";
    color: var(--font-color1);
    body{
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 0.15em;
        background: var(--bg-color);
    }
}

#wrapper {
    width: 100%;
    height: 100vh;

    #sidebar {
        width: 120px;
        height: 100vh;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 15000;

        background-color: var(--bg-color);
        background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
    }

    /*アクティブになったエリア*/
    #g-nav.panelactive{
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position:fixed;
        z-index: 10000;
        top: 0;
        width:100%;
        height: 100vh;
    }

    /*丸の拡大*/
    .circle-bg{
        position: fixed;
        z-index:3;
        /*丸の形*/
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--accent-color);
        /*丸のスタート位置と形状*/
        transform: scale(0);/*scaleをはじめは0に*/
        left:-50px;
        top:calc(50% - 50px);/*50%から円の半径を引いた値*/
        transition: all .6s;/*0.6秒かけてアニメーション*/
    }

    .circle-bg.circleactive{
        transform: scale(50);/*クラスが付与されたらscaleを拡大*/
    }

    /*ナビゲーションの縦スクロール*/
    #g-nav-list{
        display: none;/*はじめは表示なし*/
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 10000; 
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #g-nav.panelactive #g-nav-list{
        display: block; /*クラスが付与されたら出現*/
    }

    /*ナビゲーション*/
    #g-nav ul {
        opacity: 0;/*はじめは透過0*/
        padding-left: 220px;
        bottom: 100px;
        position: absolute;
        z-index: 10000;
        li:nth-child(2) {
            padding-bottom: 50px;
        }
    }

    /*背景が出現後にナビゲーションを表示*/
    #g-nav.panelactive ul {
        opacity:1;
    }

    // 背景が出現後にナビゲーション li を表示
    #g-nav .panelactive ul li {
    animation-name:gnaviAnime;
    animation-duration:1s;
    animation-delay:.2s;/*0.2 秒遅らせて出現*/
    animation-fill-mode:forwards;
    opacity:0;
    }
    @keyframes gnaviAnime{
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }


    /*リストのレイアウト設定*/
    #g-nav .main-nav{
        // text-align: center;
        list-style: none;
        ul {
            padding-left: 0px;
            display: flex;
            gap: 50px;
            bottom: 210px;
        }
    }


    #g-nav .main-nav a{
        color: var(--font-color2);
        font-family: Helvetica Neue;
        font-size: 5.4rem;
        text-decoration: none;
        padding-top:70px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
    }

    #g-nav .mini-nav a{
        color: var(--font-color2);
        font-family: Helvetica Neue;
        font-size: 3.2rem;
        text-decoration: none;
        padding: 0px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: normal;
    }

    #header {
        width: calc(100vw - 120px);
        height: 100vh;
        margin: 0 0 0 auto;
        position: relative;

        .Title {
            display: flex;
            width: 100%;
            height: 50vh;
            padding: 0px 100px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            flex-shrink: 0;
            background-color: var(--accent-color);
            div {
                display: flex;
                width: 250px;
                height: 350px;
                justify-content: space-between;
                align-items: flex-end;
                flex-shrink: 0;
            }
            h1 {
                font-family: 'Helvetica Neue', sans-serif;
                color: var(--font-color2);
                font-size: var(--font-size-title1);
            }
        }
        .works-menu {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            align-self: stretch;
            margin-top: 80px;
            .menu-box {
                display: flex;
                width: 250px;
                padding: 35px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;

                border-radius: 25px 25px 25px 0px;
                background: var(--accent-color);
                img {
                    width: 100px;
                }
                .category {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        font-family: 'Helvetica Neue', sans-serif;
                        color: var(--font-color2);
                        font-size: var(--font-size-btn);
                        font-weight: bold;
                    }
                    .bottom-arrow {
                        width: 20px;
                    }
                }
            }
        }
    }

    #main {
        width: calc(100vw - 120px);
        height: auto;
        margin: 0 0 0 auto;
        // padding-top: 200px;
        #web, #graphics, #others {
            display: flex;
            padding: 100px 0px 200px;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            h3 {
                color: var(--font-color4);
                font-family: Helvetica Neue;
                font-size: var(--font-size-title2);
                font-weight: bold;
                letter-spacing: 0.15em;
            }
            .contents-area {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                min-width: 350px;
                justify-content: space-between;
                row-gap: 50px;
                .contents-box {
                    display: flex;
                    min-width: 350px;
                    flex-direction: column;
                    gap: 10px;
                    
                    .mask {
                        width: 518px;
                        height: 290px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 25px 25px 25px 0px;
                        img {
                            width: 100%;
                            height: auto;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            transition-duration: .2s;
                            &:hover {
                                opacity: .6;
                                transition: .3s linear;
                                transition-duration: .2s;
                                // animation: images_link .3s;
                            }
                            // @keyframes images_link {
                            //     0% {
                            //       opacity: 1;
                            //     //   transform: translateX(0px);
                            //     }
                            //     40% {
                            //       opacity: .5;
                            //     //   transform: translateX(20px);
                            //     }
                            //     41% {
                            //       opacity: .5;
                            //     //   transform: translateX(-20px);
                            //     }
                            //     100% {
                            //       opacity: 1;
                            //     //   transform: translateX(0px);
                            //     }
                            //   }
                        }
                        
                    }
                    
                    .work-name {
                        display: flex;
                        justify-content: space-between;
                        align-self: stretch;
                        h4 {
                            color: var(--font-color4);
                            font-family: Noto Sans JP;
                            font-size: 1.8rem;
                            font-weight: bold;
                            line-height: 26px;
                            // letter-spacing: 0.15em;
                        }
                        .skill-icn {
                            display: flex;
                            align-items: flex-start;
                            gap: 5px;
                            img {
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        width: calc(100% - 120px);
        height: auto;
        margin:0 0 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: var(--bg-color);
        #page-top {
            // width: 100px;
            display: flex;
            margin:0 0 0 auto;
            a {
                width: 124px;
            }
            p {
                width: 115px;
                // height: 20px;
                // padding-right: 53px;
                padding-left: 13px;
                transform-origin: left center 0;
                transform: rotate(-90deg);
                color: var(--font-color4);
                font-family: Helvetica Neue;
                font-size: 1.6rem;
                font-weight: bold;
            }
            .arrow-top {
                padding-right: 50px;
            }
        }
        #copyright {
            width: 100%;
            height: 60px;
            display: flex;
            margin:0 0 0 auto;
            padding: 40px 100px;
            align-items: center;
            background-color: var(--bg-color);
            background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
            p {
                color: var(--font-color4);
                font-family: Helvetica Neue;
                font-size: 1.4rem;
            }
        }
        
    }
}

.contents-wrapper {
    max-width: 1096px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

