@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --accent-color: #AFB6AE;
  --bg-color50: #ffffff80;
  --bg-color: #FAF7F2;
  --border-color: #737373;
  --font-color1: #333;
  --font-color2: #fff;
  --font-color3: #737373;
  --font-color4: #6D7067;
  --font-size-btn: 2.0rem;
  --font-size-title1: 5.8rem;
  --font-size-title2: 3.6rem;
  --font-size-title3: 3.2rem;
}

html {
  font-size: 10px;
  font-family: "Helvetica Neue", "Arial", "Noto Sans JP" "Hiragino Kaku Gothic ProN", "Hiragino Sans" "Meiryo", "sans-serif";
  color: var(--font-color1);
}
html body {
  position: relative;
  cursor: none;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  background: var(--bg-color);
}
html body a, html body button {
  cursor: none;
}
html body .cursor {
  position: fixed;
  /*丸の大きさと色の指定*/
  width: 40px;
  height: 40px;
  top: -20px;
  left: -20px;
  background: #C7B29F;
  mix-blend-mode: diffelence;
  opacity: 0.5;
  border-radius: 50%;
  z-index: 30000; /*一番手前に来るように*/
  pointer-events: none; /*クリックできなくなるのを防ぐため。noneで対応*/
  transition: width 1s, height 1s, top 1s, left 1s;
  transform: translate(0, 0);
  /*aタグにホバーした時に見た目変化*/
}
html body .cursor .cursor.cursor--hover {
  transform: scale(3);
}

#wrapper {
  width: 100%;
  height: 100vh;
  /*アクティブになったエリア*/
  /*丸の拡大*/
  /*ナビゲーションの縦スクロール*/
  /*ナビゲーション*/
  /*背景が出現後にナビゲーションを表示*/
  /*リストのレイアウト設定*/
}
#wrapper #sidebar {
  width: 120px;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 15000;
  background-color: var(--bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
}
#wrapper #g-nav.panelactive {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100vh;
}
#wrapper .circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--accent-color);
  /*丸のスタート位置と形状*/
  transform: scale(0); /*scaleをはじめは0に*/
  left: -50px;
  top: calc(50% - 50px); /*50%から円の半径を引いた値*/
  transition: all 0.6s; /*0.6秒かけてアニメーション*/
}
#wrapper .circle-bg.circleactive {
  transform: scale(50); /*クラスが付与されたらscaleを拡大*/
}
#wrapper #g-nav-list {
  display: none; /*はじめは表示なし*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#wrapper #g-nav.panelactive #g-nav-list {
  display: block; /*クラスが付与されたら出現*/
}
#wrapper #g-nav ul {
  visibility: hidden;
  padding-left: 220px;
  bottom: 100px;
  position: absolute;
  z-index: 10000;
}
#wrapper #g-nav ul li:nth-child(2) {
  padding-bottom: 50px;
}
#wrapper #g-nav.panelactive ul {
  visibility: visible;
}
#wrapper #g-nav .panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s; /*0.2 秒遅らせて出現*/
  animation-fill-mode: forwards;
  visibility: hidden;
}
@keyframes gnaviAnime {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
#wrapper #g-nav .main-nav {
  list-style: none;
}
#wrapper #g-nav .main-nav ul {
  padding-left: 0px;
  display: flex;
  gap: 50px;
  bottom: 210px;
}
#wrapper #g-nav .main-nav a {
  color: var(--font-color2);
  font-family: Helvetica Neue;
  font-size: 5.4rem;
  text-decoration: none;
  padding-top: 70px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
}
#wrapper #g-nav .mini-nav a {
  color: var(--font-color2);
  font-family: Helvetica Neue;
  font-size: 3.2rem;
  text-decoration: none;
  padding: 0px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: normal;
}
#wrapper #header {
  width: calc(100vw - 120px);
  height: 100vh;
  margin: 0 0 0 auto;
  position: relative;
}
#wrapper #header .Title {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  background-color: var(--accent-color);
}
#wrapper #header .Title div {
  display: flex;
  width: 250px;
  height: 350px;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 0;
}
#wrapper #header .Title h1 {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--font-color2);
  font-size: var(--font-size-title1);
}
#wrapper #header .works-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  margin-top: 80px;
}
#wrapper #header .works-menu .menu-box {
  display: flex;
  width: 250px;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 25px 25px 25px 0px;
  background: var(--accent-color);
  transition-duration: 0.5s;
}
#wrapper #header .works-menu .menu-box:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}
#wrapper #header .works-menu .menu-box img {
  width: 100px;
}
#wrapper #header .works-menu .menu-box .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrapper #header .works-menu .menu-box .category h2 {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--font-color2);
  font-size: var(--font-size-btn);
  font-weight: bold;
}
#wrapper #header .works-menu .menu-box .category .bottom-arrow {
  width: 20px;
}
#wrapper #main {
  width: calc(100vw - 120px);
  height: auto;
  margin: 0 0 0 auto;
}
#wrapper #main #web, #wrapper #main #graphics, #wrapper #main #others {
  display: flex;
  padding: 100px 0px 200px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#wrapper #main #web h3, #wrapper #main #graphics h3, #wrapper #main #others h3 {
  color: var(--font-color4);
  font-family: Helvetica Neue;
  font-size: var(--font-size-title2);
  font-weight: bold;
  letter-spacing: 0.15em;
}
#wrapper #main #web .contents-area, #wrapper #main #graphics .contents-area, #wrapper #main #others .contents-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 350px;
  justify-content: space-between;
  row-gap: 50px;
}
#wrapper #main #web .contents-area .contents-box, #wrapper #main #graphics .contents-area .contents-box, #wrapper #main #others .contents-area .contents-box {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  gap: 10px;
}
#wrapper #main #web .contents-area .contents-box .mask, #wrapper #main #graphics .contents-area .contents-box .mask, #wrapper #main #others .contents-area .contents-box .mask {
  width: 518px;
  height: 290px;
  position: relative;
  overflow: hidden;
  border-radius: 25px 25px 25px 0px;
}
#wrapper #main #web .contents-area .contents-box .mask img, #wrapper #main #graphics .contents-area .contents-box .mask img, #wrapper #main #others .contents-area .contents-box .mask img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.5s;
}
#wrapper #main #web .contents-area .contents-box .mask img:hover, #wrapper #main #graphics .contents-area .contents-box .mask img:hover, #wrapper #main #others .contents-area .contents-box .mask img:hover {
  opacity: 0.6;
  transition: 0.3s linear;
  transition-duration: 0.5s;
}
#wrapper #main #web .contents-area .contents-box .work-name, #wrapper #main #graphics .contents-area .contents-box .work-name, #wrapper #main #others .contents-area .contents-box .work-name {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}
#wrapper #main #web .contents-area .contents-box .work-name h4, #wrapper #main #graphics .contents-area .contents-box .work-name h4, #wrapper #main #others .contents-area .contents-box .work-name h4 {
  color: var(--font-color4);
  font-family: Noto Sans JP;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 26px;
}
#wrapper #main #web .contents-area .contents-box .work-name .skill-icn, #wrapper #main #graphics .contents-area .contents-box .work-name .skill-icn, #wrapper #main #others .contents-area .contents-box .work-name .skill-icn {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
#wrapper #main #web .contents-area .contents-box .work-name .skill-icn img, #wrapper #main #graphics .contents-area .contents-box .work-name .skill-icn img, #wrapper #main #others .contents-area .contents-box .work-name .skill-icn img {
  width: 25px;
}
#wrapper #footer {
  width: calc(100% - 120px);
  height: auto;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--bg-color);
}
#wrapper #footer #page-top {
  display: flex;
  margin: 0 0 0 auto;
}
#wrapper #footer #page-top a {
  width: 124px;
}
#wrapper #footer #page-top p {
  width: 115px;
  padding-left: 13px;
  transform-origin: left center 0;
  transform: rotate(-90deg);
  color: var(--font-color4);
  font-family: Helvetica Neue;
  font-size: 1.6rem;
  font-weight: bold;
}
#wrapper #footer #page-top .arrow-top {
  padding-right: 50px;
}
#wrapper #footer #copyright {
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0 0 0 auto;
  padding: 40px 100px;
  align-items: center;
  background-color: var(--bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
}
#wrapper #footer #copyright p {
  color: var(--font-color4);
  font-family: Helvetica Neue;
  font-size: 1.4rem;
}

.contents-wrapper {
  max-width: 1096px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}/*# sourceMappingURL=styles.css.map */